@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 12px;
  scroll-behavior: smooth;
}

.padding{
  @apply px-3 lg:px-0
}

.height{
  height: calc(100vh - 64px);
}

.container {
  width: 100%;
  max-width: 1250px;
  margin-inline: auto;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
  
}

.transBlack {
  background-color: rgba(0, 0, 0, 0.4);
}

sup{
  color: rgb(117, 116, 116)
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topMargin {
  padding-top: 20px;
}

.input {
  @apply h-8 px-2 rounded border outline-none w-full;
}

.input1 {
  @apply h-10 shadow px-2 focus:border-blue-600 rounded border outline-none w-full;
}

.loader1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader1::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 2px solid gray;
  animation: prixClipFix 2s linear infinite ;
}

.loader2 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader2::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 2px solid black;
  animation: prixClipFix 2s linear infinite ;
}
.loader {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 2px solid gray;
  animation: prixClipFix 2s linear infinite ;
}
.loader3 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader3::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 2px solid white;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}